<div class="section">
	<div class="box <%= "subsection" if subsection %>">
		<div class="title">
		<%= markdown(section.name) %>
		</div>
		<%= markdown(section.description) %>

	</div>
	<div class="subsection-items">
		<%= render partial: 'item', collection: section.items.order(:order) %>
		<%= render partial: 'section', collection: section.subsections.order(:order), locals: { subsection: true } %>
	</div>
</div>