<div class="section">
	<div class="box <%= "subsection" if subsection %>">
		<h4>
		<%= section.name %>
		</h4>
		<%= simple_format(section.description) %>

	</div>
		<%= render partial: 'section', collection: section.subsections, locals: { subsection: true } %>
		<%= render partial: 'item', collection: section.items %>
</div>