<div class="row-fluid" id="portfolio-section">
	<div class="section">
		Many of my projects are available for viewing on <%= link_to "Github", "https://github.com/Lockyy" %>.
	</div>
	<div class="section">
		<h4>
			Websites
		</h4>
		<div class="item">
			<h4>
			<%= link_to "Tales from the Fortress", "http://www.talesfromthefortress.com" %>
			</h4>
			This is an <%= link_to "fmylife", "http://www.fmylife.com/" %> style website for <%= link_to "Dwarf Fortress", "http://www.bay12games.com/dwarves" %> stories.
			My first, and only, website made in php. This was my first step into web development beyond just html and was a lot fun to develop.
			I have since rewritten TFTF in Ruby on Rails. The website has done away with the heavy use of image files to produce a cleaner look, along with increasing load speeds dramatically.
		</div>
	</div>
	<div class="section">
		<h4>
		Games
		</h4>
		<div class="subsection">
			<h4>
				<%= link_to "Ludum Dare", "http://www.ludumdare.com/compo/author/lockyy/" %>
			</h4>
			Ludum Dare is a 48 hour game development competition that takes place three times a year. Each competition has a theme chosen by the participants with the winner revealed shortly before the competition begins.
			I've taken part in a couple competitions since I started dabbling in game development and I love the pressure the time constraint puts on you. It forces you to get as much out of the time as you can and get as much as you can done.
			<div class="item">
				<h4>
					<%= link_to "British Etiquette", "http://www.ludumdare.com/compo/minild-40/?action=preview&uid=20253" %>
				</h4>
				This LD's theme was 'The Real World.' <br>
				Whilst on the bus attempting to come up with an idea for the theme I noticed people's preference to have a seat to themselves until eventually having to double up. From this I got the idea for a puzzle game based upon fitting people into a bus whilst maximising happiness.<br>
				Code available <%= link_to "here" ,"https://github.com/Lockyy/britishEtiquette" %>.
			</div>
			<div class="item">
				<h4>
				<%= link_to "Moment of Interaction", "http://www.ludumdare.com/compo/ludum-dare-28/?action=preview&uid=20253" %>
				</h4>
				This was my first full Ludum Dare Jam. The theme was 'You Only Get One.'<rb>
				The game I created is more of a simulation. It features procedural world generation and only a single moment of interaction for the player with the game world. The very start where they place their village tile. The village develops on its own from there.
				<br>
				A gallery of my progress through development is available <%= link_to "here", "http://imgur.com/a/13k1R" %>.
				<br>
				Code available <%= link_to "here" ,"https://github.com/Lockyy/YOGO-Moment-of-Interaction" %>.
			</div>
		</div>
		<div class="subsection">
			<h4>
			<%= link_to "Steam Workshop", "http://steamcommunity.com/id/Jokiros/myworkshopfiles/" %>
			</h4>
			Sometimes I enjoy spending more time installing mods for a game than actually playing the game. When I cannot find what I want I tend to make it myself. My steam workshop profile is the result of my tinkering in a few of those games.
			<br>
			Several of my Elder Scrolls: Skyrim mods have been relatively popular, 
			<%= link_to "one of which", "http://steamcommunity.com/sharedfiles/filedetails/?id=7626" %> 
			was featured in 
			<%= link_to "PC Gamer", "http://www.pcgamer.com/2012/02/08/the-best-steam-workshop-skyrim-mods/#Fun" %>.
		</div>
		<div class="subsection">
			<h4>
				Other
			</h4>
			<div class="item">
				<h4>
				<%= link_to "Conway's Game of Life", "https://github.com/Lockyy/game-of-life" %>.
				</h4>
				This feels like it's my Hello World when it comes to game development. When I was first learning to program in c++ I made a command line version of CGoL, the source code of which has been lost to a failed hard drive unfortunately.
				<br>
				When I began learning pygame I worked on implementing it again, except without the clunky co-ordinate placement system it's forefather had. I really like Game of Life because it is just complex enough to help get to grips with a new system.
			</div>
		</div>
	</div>
</div>