<!-- NOTE: the casein:scaffold generator automatically appends new controllers to this file. The SCAFFOLD_INSERT line must NOT be removed -->
<!-- SCAFFOLD_INSERT -->
<li id="tab-blog_posts"><%= link_to "Blog posts", casein_blog_posts_path %></li>
<li id="tab-blog_categories"><%= link_to "Blog categories", casein_blog_categories_path %></li>
<li id="tab-bios"><%= link_to "Bios", casein_bios_path %></li>
<li id="tab-sections"><%= link_to "Sections", casein_sections_path %></li>
<li id="tab-items"><%= link_to "Items", casein_items_path %></li>
<li id="tab-images"><%= link_to "Images", casein_images_path %></li>