<div class="row-fluid" id="portfolio-section">
	<div class="section">
		Many of my projects are available for viewing on <%= link_to "Github", "https://github.com/Lockyy" %>.
	</div>
	<div class="section">
		<h3>
			Websites
		</h3>
		<div class="item">
			<h3>
			<%= link_to "Tales from the Fortress", "http://www.talesfromthefortress.com" %>
			</h3>
			This is a <%= link_to "fmylife", "http://www.fmylife.com/" %> style website for <%= link_to "Dwarf Fortress", "http://www.bay12games.com/dwarves" %> stories.
			My first, and only, website made in php. This was my first step into web development beyond just html and was very fun to develop.
			I am currently remaking Tales from the Fortress in ruby on rails, forsaking the textured themes in favour of a flat design.
		</div>
	</div>
	<div class="section">
		<h3>
		Games
		</h3>
		<div class="subsection">
			<h3>
				<%= link_to "Ludum Dare", "http://www.ludumdare.com/compo/author/lockyy/" %>
			</h3>
			I have taken part in Ludum Dare a couple of times since starting to dabble in game development, I love the pressure the time constraint puts on you. Trying to get as much out of the time as you can and get as much as you can done.
			<div class="item">
				<h3>
					<%= link_to "British Etiquette", "http://www.ludumdare.com/compo/minild-40/?action=preview&uid=20253" %>
				</h3>
				This mini-LD's theme was 'The Real World.' <br>
				Whilst on the bus attempting to come up with an idea for the theme I noticed people filling the seats to minimize their contact area with other passengers until eventually having to double up. I decided on what I'd do there and British Etiquette was the result. A puzzle game where you attempt to fit people in a bus whilst maximizing happiness. Happiness not guaranteed.<br>
				Code available <%= link_to "here" ,"https://github.com/Lockyy/britishEtiquette" %>.
			</div>
			<div class="item">
				<h3>
				<%= link_to "Moment of Interaction", "http://www.ludumdare.com/compo/ludum-dare-28/?action=preview&uid=20253" %>
				</h3>
				This was my first full Ludum Dare Jam. The theme was 'You Only Get One.'<rb>
				The game I created is more of a simulation. It features procedural world generation and only a single moment of interaction for the player with the game world. The very start where they place their village tile. The village develops on its own from there.
				<br>
				A gallery of my progress through development is available <%= link_to "here", "http://imgur.com/a/13k1R" %>.
				<br>
				Code available <%= link_to "here" ,"https://github.com/Lockyy/YOGO-Moment-of-Interaction" %>.
			</div>
		</div>
		<div class="subsection">
			<h3>
			<%= link_to "Steam Workshop", "http://steamcommunity.com/id/Jokiros/myworkshopfiles/" %>
			</h3>
			Sometimes I enjoy spending more time installing mods for a game than actually playing the game. When I cannot find what I want I tend to make it myself. My steam workshop profile is the result of my tinkering in a few of those games.
			<br>
			Several of my Elder Scrolls: Skyrim mods have been relatively popular, 
			<%= link_to "one of which", "http://steamcommunity.com/sharedfiles/filedetails/?id=7626" %> 
			was featured in 
			<%= link_to "PC Gamer", "http://www.pcgamer.com/2012/02/08/the-best-steam-workshop-skyrim-mods/#Fun" %>.
		</div>
		<div class="subsection">
			<h3>
				Other
			</h3>
			<div class="item">
				<h3>
				<%= link_to "Conway's Game of Life", "https://github.com/Lockyy/game-of-life" %>.
				</h3>
				This feels like it's my Hello World when it comes to game development. When I was first learning to program in c++ I made a command line version of CGoL, the source code of which has been lost to a failed hard drive unfortunately.
				<br>
				When I began learning pygame I worked on implementing it again, except without the clunky co-ordinate placement system it's forefather had. I really like Game of Life because it is just complex enough to help get to grips with a new system.
			</div>
		</div>
	</div>
</div>