<div class="section">
	<div class="<%= "subsection" if subsection %>">
		
		<% unless section.name.blank? %>
			<h2>
			<%= markdown(section.name) %>
			</h2>
		<% end %>
		
		<%= markdown(section.description) %>

	</div>
	<div class="subsection-items">
		<%= render partial: 'item', collection: section.cached_items %>
		<%= render partial: 'section', collection: section.cached_subsections, locals: { subsection: true } %>
	</div>
</div>