<div class="links pushUp">
  <span>
    <%= link_to "Bio",
                root_path,
                id: "bio-link" %>
  </span>
  <span>
    <%= link_to "Portfolio",
              portfolio_path,
              id: "portfolio-link" %>
  </span>
  <span>
    <%= link_to "Posts",
                posts_path,
                id: "posts-link" %>
  </span>
  <span>
    <%= link_to "Github",
                "http://github.com/lockyy",
                id: "github-link",
                target: '_blank' %>
  </span>
  <span>
    <%= mail_to "daniel@lockyy.com",
                "Contact me" %>
  </span>
  <% if current_admin_user.present? %>
    <span>
      <%= link_to "Admin Interface",
                  '/admin' %>
    </span>
  <% end %>
</div>