<div class='sub-container'>
  <div class='sub-main-box'>
    <div id='thanks'>
      Thanks for subscribing!
    </div>
    <div class='sub-message'>
      Like what I'm doing? Subscribe and I'll let you know when I write new stuff.
    </div>
    <%= form_for :submission, url: emails_path, remote: true do |f| %>
      <%= f.hidden_field :path, value: request.original_fullpath %>
      <%= f.text_field :email, placeholder: :Email, required: true %>
      <%= f.text_area :suggestion, placeholder: "If you've got an idea for what I should write next I'd love to hear it" %>
      <%= submit_tag "Subscribe", id: 'subscribe' %>
    <% end %>

    <small class='pull-right'><%= link_to 'Want to unsubscribe?', new_unsubscribe_path %></small>
  </div>

  <div id='sub-button'>
    Subscribe
  </div>
</div>
