<!DOCTYPE html>
<html>
	<head>
		<title>Daniel Lockhart</title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<script type="text/javascript" src="//use.typekit.net/fgk8dst.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		<%= favicon_link_tag 'favicon.ico' %>
		<%= csrf_meta_tags %>
		<%= render 'layouts/shim' %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	</head>
	<body>
		<%= render 'layouts/header' %>
		<div class="container content_push_down">
			<%= yield %>
		</div>

		<footer>
			<%= render 'layouts/footer' %>
		</footer>
	</body>
</html>
